:root {
	.light-theme {
		--clr-primary-100: hsl(150, 0%, 93%);
		--clr-primary-200: hsl(120, 0%, 84%);
		--clr-primary-300: hsl(126, 0%, 62%);
		--clr-primary-400: hsl(138, 0%, 45%);
		--clr-primary-500: hsl(138, 0%, 38%);
		--clr-primary-600: hsl(138, 0%, 27%);
		--clr-primary-700: hsl(138, 0%, 19%);

		--clr-accent-100: hsl(150, 12%, 97%);
		--clr-accent-200: hsl(120, 49%, 84%);
		--clr-accent-300: hsl(126, 47%, 72%);
		--clr-accent-400: hsl(138, 50%, 56%);
		--clr-accent-500: hsl(138, 40%, 49%);
		--clr-accent-600: hsl(138, 32%, 44%);
		--clr-accent-700: hsl(138, 20%, 36%);
		--clr-accent-800: hsl(138, 20%, 25%);

		// Sidebar
		--clr-sidebar-bg: var(--clr-accent-500);
		--clr-logo: var(--clr-accent-100);
		--clr-logo-fw: var(--clr-accent-100);
		--clr-logo-sw: var(--clr-primary-700);
		--clr-settings-button-bg: var(--clr-primary-700);
		--clr-settings-button-bg-hover: var(--clr-primary-100);
		--clr-settings-button-icon: var(--clr-primary-100);
		--clr-settings-button-icon-hover: var(--clr-primary-700);
		--clr-menu-item: var(--clr-primary-700);
		--clr-menu-item-hover: var(--clr-primary-100);
		--clr-menu-item-active: var(--clr-menu-item-hover);
		--clr-footer-policy: var(--clr-menu-item);
		--clr-footer-policy-hover: var(--clr-menu-item-hover);
		--clr-burger: var(--clr-primary-700);

		// Pages
		--clr-page-bg: var(--clr-primary-100);
		--clr-page-text: var(--clr-primary-700);
		--clr-page-block-bg: var(--clr-primary-200);

		// Home page
		--clr-home-hero-heading: ;
		--clr-home-hero-text: var(--clr-page-text);
		--clr-home-hero-button-bg-hover: var(--clr-primary-200);
		--clr-home-hero-button-border: var(--clr-primary-700);

		// News page
		--clr-news-container-tab-bg: var(--clr-accent-200);
		--clr-news-container-tab-text: var(--clr-accent-800);
		--clr-news-container-tab-bg-active: var(--clr-accent-300);
		--clr-news-container-tab-text-active: var(--clr-accent-800);
		--news-container-tab-boxshadow: 0px 5px 0px 0px var(--clr-accent-700);
		--news-container-tab-boxshadow-pressed: 0px 0px 0px 0px
			var(--clr-accent-700);

		--clr-news-container-filter-bg: var(--clr-primary-200);
		--clr-news-container-filter-text: var(--clr-primary-700);
		--clr-news-container-filter-bg-active: var(--clr-primary-300);
		--clr-news-container-filter-text-active: var(--clr-primary-700);

		--clr-news-card-bg: var(--clr-accent-300);
		--clr-news-card-heading: var(--clr-accent-800);
		--clr-news-card-text: var(--clr-accent-800);
		--clr-news-card-date: var(--clr-accent-700);

		--clr-ad-card-bg: var(--clr-primary-200);
		--clr-ad-card-heading: var(--clr-news-card-heading);
		--clr-ad-card-text: var(--clr-news-card-text);
		--clr-ad-card-date: var(--clr-news-card-date);

		// Locations page
		--clr-locations-card-bg: var(--clr-primary-100);
		--clr-locations-card-text: var(--clr-primary-700);
		--clr-locations-card-sidebar-bg: var(--clr-accent-300);
		--clr-locations-card-sidebar-text: var(--clr-locations-card-text);

		--clr-slider-arrow: var(--clr-accent-100);

		// Tariffs page
		--clr-tariff-card-text: var(--clr-primary-700);
		--clr-tariff-card-services-bg: yellow;
		--clr-tariff-card-services-text: var(--clr-primary-700);
		--clr-tariff-card-price: gold;

		--clr-tariff-daily: rgb(112, 185, 112);
		--clr-tariff-weekly: rgb(110, 110, 177);
		--clr-tariff-monthly: rgb(182, 114, 182);
		--clr-tariff-annual: rgb(44, 161, 152);

		// About page
		--clr-about-card-bg: var(--clr-accent-300);
		--clr-about-card-text: var(--clr-primary-700);

		// Contacts page
		--clr-contacts-block-bg: var(--clr-accent-300);
		--clr-contacts-block-text: var(--clr-primary-700);
		--clr-contacts-form-input-bg: var(--clr-primary-200);
		--clr-contacts-form-input-bg-active: var(--clr-primary-100);
		--clr-contacts-form-input-text: var(--clr-primary-700);
		--clr-contacts-form-input-border: var(--clr-primary-400);
		--clr-contacts-form-button-bg: var(--clr-accent-200);
		--clr-contacts-form-button-bg-hover: var(--clr-accent-600);
		--clr-contacts-form-button-text: var(--clr-accent-800);
		--clr-contacts-form-button-text-hover: var(--clr-accent-100);
		--clr-contacts-icon: var(--clr-contacts-block-text);
		--contacts-container-tab-boxshadow: 0px 5px 0px 0px var(--clr-accent-700);
		--contacts-container-tab-boxshadow-pressed: 0px 0px 0px 0px
			var(--clr-accent-700);

		// Settings modal window
		--settings-modal-bg: rgba(0, 0, 0, 0.7);

		--clr-settings-modal-bg: var(--clr-accent-400);
		--clr-settings-modal-overlay: hsla(0, 0%, 23%, 0.705);
		--clr-settings-modal-text: var(--clr-primary-700);
		--clr-settings-modal-icon: var(--clr-settings-modal-text);
		--clr-settings-modal-button-bg: var(--clr-accent-700);
		--clr-settings-modal-button-text: var(--clr-accent-100);
		--clr-settings-modal-button-bg-hover: var(--clr-accent-100);
		--clr-settings-modal-button-text-hover: var(--clr-accent-700);

		--clr-select-bg: var(--clr-accent-200);
		--clr-select-text: var(--clr-primary-700);
		--clr-select-outline: var(--clr-select-text);

		// Auth modal window
		--auth-modal-bg: var(--clr-primary-100);
		--auth-button-bg: var(--clr-primary-100);
		--auth-button-bg-hover: var(--clr-accent-200);
		--auth-button-text: var(--clr-accent-600);
		--auth-button-text-hover: var(--auth-button-text);
		--auth-button-border: 3px solid var(--auth-button-text);

		--clr-auth-modal-bg: var(--clr-primary-100);
		--clr-auth-modal-overlay: var(--clr-settings-modal-overlay);
		--clr-auth-modal-text: var(--clr-primary-700);
		--clr-auth-modal-icon: var(--clr-auth-modal-text);
		--clr-auth-modal-active: var(--clr-accent-500);
		--clr-auth-modal-button-bg: var(--clr-accent-500);
		--clr-auth-modal-button-text: var(--clr-accent-100);
		--clr-auth-modal-button-bg-hover: var(--clr-accent-300);
		--clr-auth-modal-button-text-hover: var(--clr-accent-700);

		// Booking modal window
		--clr-booking-modal-bg: var(--clr-primary-100);
		--clr-booking-modal-overlay: var(--clr-settings-modal-overlay);
		--clr-booking-modal-text: var(--clr-primary-700);
		--clr-booking-modal-icon: var(--clr-booking-modal-text);
		--clr-booking-modal-active: var(--clr-accent-500);
		--clr-booking-modal-button-bg: var(--clr-primary-500);
		--clr-booking-modal-button-text: var(--clr-primary-100);
		--clr-booking-modal-button-bg-hover: var(--clr-primary-200);
		--clr-booking-modal-button-text-hover: var(--clr-primary-700);

		--clr-booking-select-bg: var(--clr-primary-200);
		--clr-booking-select-text: var(--clr-primary-700);
		--clr-booking-select-outline: var(--clr-select-text);

		--clr-booking-info-card-bg: var(--clr-primary-200);
		--clr-booking-info-card-text: var(--clr-primary-700);

		// General
		--box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	}

	.dark-theme {
		--clr-primary-100: hsl(138, 0%, 19%);
		--clr-primary-200: hsl(138, 0%, 27%);
		--clr-primary-300: hsl(138, 0%, 38%);
		--clr-primary-400: hsl(138, 0%, 45%);
		--clr-primary-500: hsl(126, 0%, 62%);
		--clr-primary-600: hsl(120, 0%, 84%);
		--clr-primary-700: hsl(150, 0%, 93%);

		--clr-accent-100: hsl(138, 20%, 36%);
		--clr-accent-200: hsl(138, 32%, 44%);
		--clr-accent-300: hsl(138, 40%, 49%);
		--clr-accent-400: hsl(138, 50%, 56%);
		--clr-accent-500: hsl(126, 47%, 72%);
		--clr-accent-600: hsl(120, 49%, 84%);
		--clr-accent-700: hsl(150, 12%, 97%);

		// Sidebar
		--clr-sidebar-bg: var(--clr-accent-300);
		--clr-logo: var(--clr-accent-700);
		--clr-logo-fw: var(--clr-logo);
		--clr-logo-sw: var(--clr-primary-100);
		--clr-settings-button-bg: var(--clr-primary-100);
		--clr-settings-button-bg-hover: var(--clr-primary-700);
		--clr-settings-button-icon: var(--clr-primary-700);
		--clr-settings-button-icon-hover: var(--clr-primary-100);
		--clr-menu-item: var(--clr-primary-100);
		--clr-menu-item-hover: var(--clr-primary-700);
		--clr-menu-item-active: var(--clr-menu-item-hover);
		--clr-footer-policy: var(--clr-menu-item);
		--clr-footer-policy-hover: var(--clr-menu-item-hover);
		--clr-burger: var(--clr-primary-700);

		// Pages
		--clr-page-bg: var(--clr-primary-200);
		--clr-page-text: var(--clr-primary-700);
		--clr-page-block-bg: var(--clr-primary-200);

		// Home page
		--clr-home-hero-heading: ;
		--clr-home-hero-text: var(--clr-page-text);
		--clr-home-hero-button-bg-hover: var(--clr-primary-300);
		--clr-home-hero-button-border: var(--clr-primary-700);

		// News page
		--clr-news-container-tab-bg: var(--clr-accent-200);
		--clr-news-container-tab-text: var(--clr-accent-800);
		--clr-news-container-tab-bg-active: var(--clr-accent-300);
		--clr-news-container-tab-text-active: var(--clr-accent-800);
		--news-container-tab-boxshadow: 0px 5px 0px 0px var(--clr-accent-700);
		--news-container-tab-boxshadow-pressed: 0px 0px 0px 0px
			var(--clr-accent-700);

		--clr-news-container-filter-bg: var(--clr-primary-400);
		--clr-news-container-filter-text: var(--clr-primary-700);
		--clr-news-container-filter-bg-active: var(--clr-primary-300);
		--clr-news-container-filter-text-active: var(--clr-primary-700);

		--clr-news-card-bg: var(--clr-accent-300);
		--clr-news-card-heading: var(--clr-accent-800);
		--clr-news-card-text: var(--clr-accent-800);
		--clr-news-card-date: var(--clr-accent-700);

		--clr-ad-card-bg: var(--clr-primary-400);
		--clr-ad-card-heading: var(--clr-news-card-heading);
		--clr-ad-card-text: var(--clr-news-card-text);
		--clr-ad-card-date: var(--clr-news-card-date);

		// Locations page
		--clr-locations-card-bg: var(--clr-primary-100);
		--clr-locations-card-text: var(--clr-primary-700);
		--clr-locations-card-sidebar-bg: var(--clr-accent-300);
		--clr-locations-card-sidebar-text: var(--clr-locations-card-text);

		--clr-slider-arrow: var(--clr-accent-700);

		// Tariffs page
		--clr-tariff-card-text: var(--clr-primary-700);
		--clr-tariff-card-services-bg: yellow;
		--clr-tariff-card-services-text: var(--clr-primary-100);
		--clr-tariff-card-price: gold;

		--clr-tariff-daily: rgb(112, 185, 112);
		--clr-tariff-weekly: rgb(110, 110, 177);
		--clr-tariff-monthly: rgb(182, 114, 182);
		--clr-tariff-annual: rgb(44, 161, 152);

		// About page
		--clr-about-card-bg: var(--clr-accent-300);
		--clr-about-card-text: var(--clr-primary-700);

		// Contacts page
		--clr-contacts-block-bg: var(--clr-accent-300);
		--clr-contacts-block-text: var(--clr-primary-700);
		--clr-contacts-form-input-bg: var(--clr-primary-200);
		--clr-contacts-form-input-bg-active: var(--clr-primary-100);
		--clr-contacts-form-input-text: var(--clr-primary-700);
		--clr-contacts-form-input-border: var(--clr-primary-400);
		--clr-contacts-form-button-bg: var(--clr-accent-200);
		--clr-contacts-form-button-bg-hover: var(--clr-accent-600);
		--clr-contacts-form-button-text: var(--clr-accent-800);
		--clr-contacts-form-button-text-hover: var(--clr-accent-100);
		--clr-contacts-icon: var(--clr-contacts-block-text);
		--contacts-container-tab-boxshadow: 0px 5px 0px 0px var(--clr-accent-700);
		--contacts-container-tab-boxshadow-pressed: 0px 0px 0px 0px
			var(--clr-accent-700);

		// Settings modal window
		--settings-modal-bg: rgba(0, 0, 0, 0.7);

		--clr-settings-modal-bg: var(--clr-accent-400);
		--clr-settings-modal-overlay: hsla(0, 0%, 23%, 0.705);
		--clr-settings-modal-text: var(--clr-primary-100);
		--clr-settings-modal-icon: var(--clr-settings-modal-text);
		--clr-settings-modal-button-bg: var(--clr-accent-100);
		--clr-settings-modal-button-text: var(--clr-accent-700);
		--clr-settings-modal-button-bg-hover: var(--clr-accent-700);
		--clr-settings-modal-button-text-hover: var(--clr-accent-100);

		--clr-select-bg: var(--clr-accent-600);
		--clr-select-text: var(--clr-primary-100);
		--clr-select-outline: var(--clr-select-text);

		// Auth modal window
		--auth-modal-bg: var(--clr-primary-100);
		--auth-button-bg: var(--clr-primary-100);
		--auth-button-bg-hover: var(--clr-accent-200);
		--auth-button-text: var(--clr-accent-600);
		--auth-button-text-hover: var(--auth-button-text);
		--auth-button-border: 3px solid var(--auth-button-text);

		--clr-auth-modal-bg: var(--clr-primary-100);
		--clr-auth-modal-overlay: var(--clr-settings-modal-overlay);
		--clr-auth-modal-text: var(--clr-primary-700);
		--clr-auth-modal-icon: var(--clr-auth-modal-text);
		--clr-auth-modal-active: var(--clr-accent-500);
		--clr-auth-modal-button-bg: var(--clr-accent-500);
		--clr-auth-modal-button-text: var(--clr-accent-100);
		--clr-auth-modal-button-bg-hover: var(--clr-accent-300);
		--clr-auth-modal-button-text-hover: var(--clr-accent-700);

		// Booking modal window
		--clr-booking-modal-bg: var(--clr-primary-400);
		--clr-booking-modal-overlay: var(--clr-settings-modal-overlay);
		--clr-booking-modal-text: var(--clr-primary-100);
		--clr-booking-modal-icon: var(--clr-booking-modal-text);
		--clr-booking-modal-active: var(--clr-accent-500);
		--clr-booking-modal-button-bg: var(--clr-primary-600);
		--clr-booking-modal-button-text: var(--clr-primary-100);
		--clr-booking-modal-button-bg-hover: var(--clr-primary-200);
		--clr-booking-modal-button-text-hover: var(--clr-primary-700);
		--clr-booking-modal-price: var(--clr-primary-700);

		--clr-booking-select-bg: var(--clr-primary-200);
		--clr-booking-select-text: var(--clr-primary-700);
		--clr-booking-select-outline: var(--clr-booking-select-text);

		--clr-booking-info-card-bg: var(--clr-primary-300);
		--clr-booking-info-card-text: var(--clr-primary-700);

		// General
		--box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	}
}
