:root {
	.light-theme {
		--clr-primary-100: hsl(150, 0%, 93%);
		--clr-primary-200: hsl(120, 0%, 84%);
		--clr-primary-300: hsl(126, 0%, 62%);
		--clr-primary-400: hsl(138, 0%, 45%);
		--clr-primary-500: hsl(138, 0%, 38%);
		--clr-primary-600: hsl(138, 0%, 27%);
		--clr-primary-700: hsl(138, 0%, 19%);

		--clr-accent-100: hsl(150, 12%, 97%);
		--clr-accent-200: hsl(120, 49%, 84%);
		--clr-accent-300: hsl(126, 47%, 72%);
		--clr-accent-400: hsl(138, 50%, 56%);
		--clr-accent-500: hsl(138, 40%, 49%);
		--clr-accent-600: hsl(138, 32%, 44%);
		--clr-accent-700: hsl(138, 20%, 36%);
		--clr-accent-800: hsl(138, 20%, 25%);

		// Sidebar
		--clr-sidebar-bg: var(--clr-accent-500);
		--clr-logo: var(--clr-accent-100);
		--clr-logo-fw: var(--clr-accent-100);
		--clr-logo-sw: var(--clr-primary-700);
		--clr-settings-button-bg: var(--clr-primary-700);
		--clr-settings-button-bg-hover: var(--clr-primary-100);
		--clr-settings-button-icon: var(--clr-primary-100);
		--clr-settings-button-icon-hover: var(--clr-primary-700);
		--clr-menu-item: var(--clr-primary-700);
		--clr-menu-item-hover: var(--clr-primary-100);
		--clr-menu-item-active: var(--clr-menu-item-hover);
		--clr-footer-policy: var(--clr-menu-item);
		--clr-footer-policy-hover: var(--clr-menu-item-hover);

		// Pages
		--clr-page-bg: var(--clr-primary-100);
		--clr-page-text: var(--clr-primary-700);
		--clr-page-block-bg: var(--clr-primary-200);

		// Home page
		--clr-home-hero-heading: ;
		--clr-home-hero-text: ;
		--clr-home-hero-button-bg: ;
		--clr-home-hero-button-text: ;

		// News page
		--clr-news-container-tab-bg: var(--clr-accent-200);
		--clr-news-container-tab-text: var(--clr-accent-800);
		--clr-news-container-tab-bg-active: var(--clr-accent-300);
		--clr-news-container-tab-text-active: var(--clr-accent-800);
		--news-container-tab-boxshadow: 0px 5px 0px 0px var(--clr-accent-700);
		--news-container-tab-boxshadow-pressed: 0px 0px 0px 0px
			var(--clr-accent-700);

		--clr-news-container-filter-bg: var(--clr-primary-200);
		--clr-news-container-filter-text: var(--clr-primary-700);
		--clr-news-container-filter-bg-active: var(--clr-primary-300);
		--clr-news-container-filter-text-active: var(--clr-primary-700);

		--clr-news-card-bg: var(--clr-accent-300);
		--clr-news-card-heading: var(--clr-accent-800);
		--clr-news-card-text: var(--clr-accent-800);
		--clr-news-card-date: var(--clr-accent-700);

		--clr-ad-card-bg: rgb(230, 255, 172);
		--clr-ad-card-heading: var(--clr-news-card-heading);
		--clr-ad-card-text: var(--clr-news-card-text);
		--clr-ad-card-date: var(--clr-news-card-date);

		// Locations page
		--clr-locations-card-bg: ;
		--clr-locations-card-text: ;
		--clr-locations-card-heading: ;
		--clr-locations-card-sidebar-bg: var(--clr-accent-300);
		--clr-locations-card-sidebar-text: ;

		// Tariffs page
		--clr-tariff-card-bg: ;
		--clr-tariff-card-text: ;
		--clr-tariff-card-price: ;
		--clr-tariff-card-services-bg: ;
		--clr-tariff-card-services-text: ;
		--clr-tariff-card-shadow: ;

		--clr-tariff-daily: rgb(85, 139, 85);
		--clr-tariff-weekly: rgb(64, 64, 122);
		--clr-tariff-monthly: rgb(141, 92, 141);
		--clr-tariff-annual: rgb(182, 149, 89);

		// About page
		--clr-about-card-bg: ;
		--clr-about-card-text: ;
		--clr-about-card-shadow: ;

		// Contacts page
		--clr-contacts-block-bg: var(--clr-accent-300);
		--clr-contacts-block-text: ;
		--clr-contacts-block-shadow: ;
		--clr-contacts-form-heading: ;
		--clr-contacts-form-text: ;
		--clr-contacts-form-input-bg: ;
		--clr-contacts-form-input-bg-active: ;
		--clr-contacts-form-input-text: ;
		--clr-contacts-form-input-outline: ;
		--clr-contacts-form-button-bg: ;
		--clr-contacts-form-button-text: ;

		// Modal window
		--settings-modal-bg: rgba(0, 0, 0, 0.7);
		--settings-modal-shadow: rgba(0, 0, 0, 0.3);

		--clr-modal-bg: var(--clr-accent-400);
		--clr-modal-overlay: hsla(0, 0%, 23%, 0.705);
		--clr-modal-text: var(--clr-primary-700);
		--clr-modal-icon: var(--clr-modal-text);
		--clr-modal-icon-hover: ;
		--clr-modal-heading: ;
		--clr-modal-button-bg: var(--clr-secondary-500);
		--clr-modal-button-text: var(--clr-secondary-100);
		--clr-modal-button-bg-hover: var(--clr-secondary-100);
		--clr-modal-button-text-hover: var(--clr-secondary-700);

		--clr-select-bg: var(--clr-accent-200);
		--clr-select-text: var(--clr-primary-700);
		--clr-select-outline: var(--clr-select-text);
	}

	.dark-theme {
		--clr-primary-100: hsl(138, 0%, 19%);
		--clr-primary-200: hsl(138, 0%, 27%);
		--clr-primary-300: hsl(138, 0%, 38%);
		--clr-primary-400: hsl(138, 0%, 45%);
		--clr-primary-500: hsl(126, 0%, 62%);
		--clr-primary-600: hsl(120, 0%, 84%);
		--clr-primary-700: hsl(150, 0%, 93%);

		--clr-accent-100: hsl(138, 20%, 36%);
		--clr-accent-200: hsl(138, 32%, 44%);
		--clr-accent-300: hsl(138, 40%, 49%);
		--clr-accent-400: hsl(138, 50%, 56%);
		--clr-accent-500: hsl(126, 47%, 72%);
		--clr-accent-600: hsl(120, 49%, 84%);
		--clr-accent-700: hsl(150, 12%, 97%);

		// Section
		--clr-section-bg: hsla(210, 10%, 23%, 0.8);

		// Sidebar
		--clr-sidebar-bg: ;
		--clr-logo-fw: ;
		--clr-logo-sw: ;
		--clr-menu-item: ;
		--clr-menu-item-hover: ;
		--clr-menu-item-active: ;
		--clr-footer-policy: ;
		--clr-footer-policy-hover: ;

		// Page
		--clr-page-bg: ;
		--clr-page-heading: ;
		--clr-page-text: ;

		// Modal window
		--settings-modal-bg: rgba(0, 0, 0, 0.7);
		--settings-modal-shadow: rgba(0, 0, 0, 0.3);

		--clr-modal-bg: var(--clr-accent-500);
		--clr-modal-overlay: hsla(0, 0%, 23%, 0.705);
		--clr-modal-text: ;
		--clr-modal-icon: ;
		--clr-modal-heading: ;
		--clr-modal-button-bg: var(--clr-secondary-500);
		--clr-modal-button-text: var(--clr-secondary-100);
		--clr-modal-button-bg-hover: var(--clr-secondary-100);
		--clr-modal-button-text-hover: var(--clr-secondary-700);

		--clr-select-bg: var(--clr-secondary-300);
		--clr-select-text: var(--clr-secondary-700);
		--clr-select-outline: var(--clr-select-text);
	}

	// Card & card's items
	--clr-card-bg: var(--clr-secondary-300);
	--clr-card-text: var(--clr-secondary-600);
	--clr-card-border: var(--clr-secondary-500);
	--clr-card-shadow: var(--clr-secondary-500);
	--clr-card-button-bg: var(--clr-secondary-400);
	--clr-card-button-text: var(--clr-primary-50);
	--clr-card-button-border: var(--clr-secondary-500);
	--clr-card-button-bg-hover: var(--clr-secondary-100);
	--clr-card-button-text-hover: var(--clr-secondary-700);
}
