@import '../abstracts/breakpoints';

.booking-modal-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr-auth-modal-overlay);
	z-index: 999;
}

.booking__modal {
	position: relative;
	width: 25rem;

	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
	background-color: var(--clr-booking-modal-bg);

	z-index: 1000;

	@include sm {
		width: 20rem;
		padding: 1.5rem;
	}

	@include xs {
		width: 15rem;
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 2rem;

		& > h2 {
			@include md {
				font-size: 1.5rem;
			}
			@include sm {
				font-size: 1.3rem;
			}
		}
	}

	&-close {
		background: none;
		border: none;
		font-size: 1.5rem;
		cursor: pointer;
		transition: transform 0.4s ease;

		&:hover,
		&:focus {
			outline: none;
			transform: rotate(360deg);
		}

		& .icon {
			height: 2rem;
			width: 2rem;
		}
	}

	& > form {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		& > select {
			width: 100%;
			padding: 0.5rem 1rem 0.5rem 1rem;

			border: none;
			border-radius: 0.2rem;
			appearance: none;

			color: var(--clr-booking-select-text);
			background-color: var(--clr-booking-select-bg);
			font-weight: var(--fw-medium);
			font-size: var(--fs-select);

			cursor: pointer;

			&:focus {
				outline: 0.2rem solid var(--clr-booking-select-outline);
			}
		}

		& .info-card {
			position: absolute;
			width: 20rem;
			height: 21rem;

			padding: 1rem;
			border-radius: 0.4rem;
			background-color: var(--clr-booking-info-card-bg);
			color: var(--clr-booking-info-card-text);

			@include md {
				display: none;
			}

			&:nth-child(3) {
				top: 60%;
				right: -85%;
			}

			&:nth-child(2) {
				top: -30%;
				right: -85%;
			}

			&:nth-child(4) {
				top: 60%;
				right: -85%;
			}

			& > h3 {
				margin-bottom: 1rem;
			}
		}

		& > p {
			font-weight: var(--fw-medium);
			font-size: 1.5rem;
			color: var(--clr-booking-select-text);
		}

		& > button {
			padding: 1rem 1.5rem;
			border: none;
			border-radius: 0.4rem;

			text-transform: uppercase;
			letter-spacing: 1px;
			font-family: var(--ff-accent);
			font-weight: var(--fw-bold);

			color: var(--clr-booking-modal-button-text);
			background-color: var(--clr-booking-modal-button-bg);
			cursor: pointer;
			transition: color 0.4s ease, background-color 0.4s ease;

			&:hover {
				background-color: var(--clr-booking-modal-button-bg-hover);
				color: var(--clr-booking-modal-button-text-hover);
			}

			&:focus {
				outline: 0.2rem solid var(--clr-booking-modal-button-text);
			}
		}
	}
}
