.form-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;

	& > label {
		& > input {
			padding: 0.5rem;
			border-radius: 0.3rem;
			width: 100%;
		}
	}

	& > button {
		padding: 1rem 1.5rem;
		margin-top: 1rem;
		border: none;
		border-radius: 0.4rem;

		text-transform: uppercase;
		letter-spacing: 1px;
		font-family: var(--ff-accent);
		font-weight: var(--fw-bold);

		color: var(--clr-auth-modal-button-text);
		background-color: var(--clr-auth-modal-button-bg);
		cursor: pointer;
		transition: color 0.4s ease, background-color 0.4s ease;

		&:hover {
			background-color: var(--clr-settings-modal-button-bg-hover);
			color: var(--clr-settings-modal-button-text-hover);
		}

		&:focus {
			outline: 0.2rem solid var(--clr-settings-modal-button-text);
		}
	}
}
