.news-card {
	width: 100%;
	padding: 2.5rem;
	border-radius: 0.3rem;

	display: flex;
	flex-direction: column;

	background-color: var(--clr-news-card-bg);
	color: var(--clr-news-card-text);
	border: var(--news-card-border);
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);

	&__content {
		display: flex;
		justify-content: space-between;

		&_text {
			width: 70%;

			display: flex;
			flex-direction: column;
			align-items: start;
			gap: 1rem;

			margin-left: 1.5rem;

			word-wrap: break-word;
			overflow: hidden;

			& > h2 {
				word-wrap: break-word;
				font-size: var(--fs-h2);
				color: var(--clr-news-card-heading);
			}

			& > p {
				font-size: var(--fs-text);
				color: var(--clr-news-card-text);
			}
		}

		&_img {
			width: 25%;
			height: 20rem;
			& > img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	&__date {
		margin-top: 2rem;

		font-family: var(--ff-accent);
		font-size: var(--fs-h3);
		font-weight: var(--fw-medium);

		color: var(--clr-news-card-date);

		& > p {
			font-size: var(--fs-h5);

			& .date {
				font-weight: var(--fw-bold);
			}
		}
	}
}
