@import '../abstracts/_breakpoints.scss';

.user__panel {
	position: absolute;
	top: 5rem;
	right: 5rem;

	z-index: 2;

	@include lg {
		top: 1rem;
		right: 1rem;
	}

	&_info {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border-radius: 99rem;

		cursor: pointer;

		&:hover {
			background-color: var(--auth-button-bg-hover);
		}

		& .user {
			display: flex;
			gap: 1rem;

			padding: 0.5rem 1rem 0.5rem 1rem;
			border-radius: 99rem;
			border: var(--auth-button-border);
			background: none;

			& > p {
				color: var(--auth-button-text);
				font-weight: var(--fw-medium);
				font-size: var(--fs-h4);
				font-family: var(--ff-accent);
			}

			& .icon {
				width: 1.2rem;
				height: 1.2rem;

				& > svg {
					width: 1.2rem;
					height: 1.2rem;
				}
			}
		}

		&-details {
			position: absolute;
			top: 120%;
			right: 0%;
			padding: 1rem;

			border-radius: 1.5rem;
			border: var(--auth-button-border);
			background-color: var(--clr-primary-100);

			display: flex;
			flex-direction: column;

			cursor: default;

			& > p {
				margin-bottom: 0.5rem;
			}

			& > button {
				padding: 0.25rem 0.5rem 0.25rem 0.5rem;
				border-radius: 1rem;
				border: var(--auth-button-border);
				outline: none;
				color: var(--auth-button-text);
				text-transform: uppercase;
				font-weight: var(--fw-regular);
				font-family: var(--ff-primary);
				background-color: var(--auth-button-bg);
				cursor: pointer;

				&:hover,
				&:focus {
					color: var(--auth-button-text-hover);
					background-color: var(--auth-button-bg-hover);
				}

				&:not(:last-child) {
					margin-bottom: 0.5rem;
				}
			}
		}

		&.expanded {
			background-color: #f0f0f0;

			& > .icon {
				transform: rotate(180deg);
			}
		}
	}
}
