.workspace-card {
	width: 100%;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto auto auto;
	gap: 1rem;
	background-color: #f5f5f5;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	&__header {
		grid-column: 1 / 2;
		grid-row: 1 / 3;

		& > h2 {
			margin-bottom: 2rem;
		}

		& > p {
			margin-bottom: 2rem;
		}
	}

	&__sidebar {
		grid-column: 2 / 2;
		grid-row: span 3;
		display: flex;
		flex-direction: column;
		margin-left: 2rem;

		padding: 2rem;
		border-radius: 0.4rem;
		background-color: var(--clr-locations-card-sidebar-bg);

		font-family: var(--ff-accent);
		font-weight: var(--fw-medium);
		font-size: var(--fs-text);

		& > h2 {
			font-family: var(--ff-primary);
			margin-bottom: 2rem;
		}

		& .amenities {
			margin-top: 1rem;
			& > h4 {
				text-transform: none;
				font-weight: var(--fw-regular);
			}
		}
	}

	&__images {
		grid-column: 1 / 2;
		grid-row: 3 / 3;
		width: 100%;
		overflow: hidden;
		position: relative;
		border-radius: 0.5rem;

		&_slider {
			display: flex;
			transform: translateX(calc(-100% * var(--currentSlide)));
			transition: transform 0.5s ease;

			& .slide {
				flex: 0 0 100%;
				width: 100%;
				height: 20rem;
				transition: transform 0.5s ease;

				& > img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50% 50%;
				}
			}
		}

		& .nextButton,
		.prevButton {
			--icon-width: 4rem;
			--icon-height: 4rem;
			position: absolute;
			top: 50%;

			display: flex;
			justify-content: center;
			align-items: center;

			width: var(--icon-width);
			height: var(--icon-height);
			transform: translateY(-50%);

			background: none;
			border: none;

			& .icon {
				width: var(--icon-width);
				height: var(--icon-height);
				& > svg {
					width: var(--icon-width);
					height: var(--icon-height);
				}
			}
			&:focus {
				outline: none;
			}
		}

		& .nextButton {
			right: 10px;
		}

		& .prevButton {
			left: 10px;
		}
	}
}
