@import '../abstracts/breakpoints';

.about {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 10rem 0 10rem var(--sidebar-width);

	@include lg {
		margin: 10rem 0 10rem 0;
	}

	&__header {
		width: 60%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include lg {
			width: 80%;
		}

		& > p {
			margin: 1rem 0 5rem 0;
		}

		& > h1 {
			@include md {
				font-size: 2.5rem;
			}
		}
	}

	&__benefits {
		width: 70%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3rem;

		@include xl {
			width: 80%;
		}

		@include lg {
			width: 90%;
		}

		&_card {
			width: 100%;
			height: 20rem;
			border-radius: 0.5rem;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			color: var(--clr-about-card-text);
			background-color: var(--clr-about-card-bg);
			box-shadow: var(--box-shadow);
			overflow: hidden;

			@include md {
				flex-direction: column;
				height: max-content;
			}

			&:nth-child(even) {
				flex-direction: row-reverse;
				@include md {
					flex-direction: column;
				}
			}

			& > img {
				width: 35%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center center;

				@include md {
					width: 100%;
				}
			}

			&_content {
				width: 65%;
				height: 100%;
				padding: 2rem;

				display: flex;
				flex-direction: column;

				@include md {
					width: 100%;
				}

				& > .card-number {
					font-size: var(--fs-h1);
					font-weight: var(--fw-bold);
					font-family: var(--ff-primary);
				}

				& > h2 {
					margin-bottom: 1rem;
				}

				& > p {
					text-align: justify;
				}
			}
		}
	}
}
