@import '../abstracts/breakpoints';

.contacts {
	--contacts-padding: 2.5rem;
	--contacts-gap: 3rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: justify;

	margin: 10rem 0 10rem var(--sidebar-width);

	@include lg {
		margin: 10rem 0 10rem 0;
	}

	&__header {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include lg {
			width: 70%;
		}

		& > p {
			margin-top: 1rem;
		}

		& > h1 {
			@include md {
				font-size: 2.5rem;
			}
		}
	}

	&__content {
		width: 75%;
		margin-top: 5rem;

		display: flex;
		flex-wrap: wrap;
		gap: var(--contacts-gap);
	}

	&__info {
		display: flex;
		flex-direction: column;
		flex: 1 1 40%;

		border-radius: 0.5rem;
		padding: 2rem;

		background-color: var(--clr-contacts-block-bg);

		&-block {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;

			&:nth-child(2) {
				margin-top: 3rem;
			}

			&-item {
				display: flex;
				gap: 1rem;

				& > p {
					display: flex;
					align-items: center;

					font-weight: var(--fw-regular);
					font-size: var(--fs-h3);
				}

				& .icon {
					width: 2rem;
					height: 2rem;
				}
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 1 20%;
		gap: 1rem;

		border-radius: 0.5rem;
		padding: 2rem;
		box-sizing: border-box;
		background-color: var(--clr-contacts-block-bg);

		& > form {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			& > button {
				height: 3rem;

				border-radius: 0.3rem;
				border: none;
				outline: none;

				text-transform: uppercase;
				font-size: var(--fs-button);

				background-color: var(--clr-contacts-form-button-bg);
				color: var(--clr-contacts-form-button-text);

				box-shadow: var(--contacts-container-tab-boxshadow);
				transition: all ease 0.1s;

				cursor: pointer;

				&:hover {
					background-color: var(--clr-contacts-form-button-bg-hover);
					color: var(--clr-contacts-form-button-text-hover);
				}

				&:active {
					box-shadow: var(--contacts-container-tab-boxshadow-pressed);
					transform: translateY(5px);
				}
			}
		}

		&_group {
			position: relative;
			display: flex;
			flex-direction: column;

			& > label {
				position: absolute;
				pointer-events: none;
				background-color: transparent;
				left: 15px;
				transform: translateY(0.6rem);
				transition: all 0.3s ease;
			}

			& > input {
				padding: 10px 15px;
				font-size: 1rem;
				border-radius: 0.4rem;
				border: solid 1px #8d8d8d;
				letter-spacing: 1px;
				width: 100%;

				&:focus,
				&:valid {
					outline: none;
					border: 1px solid grey;

					& ~ label {
						transform: translateY(-70%) translateX(-10px);
						background-color: #fff;
						padding: 0px 5px;
						font-weight: var(--fw-medium);
						font-family: var(--ff-primary);
						letter-spacing: 1px;
						border: none;
						border-radius: 10px 10px 0 0;
					}
				}
			}
			& > textarea {
				padding: 10px 15px;
				resize: vertical;
				min-height: 6rem;
				max-height: 20rem;
				border-radius: 0.4rem;
				border: solid 1px #8d8d8d;

				&:focus,
				&:valid {
					outline: none;
					border: 1px solid grey;

					& ~ label {
						transform: translateY(-70%) translateX(-10px);
						background-color: #fff;
						padding: 0px 5px;
						font-weight: var(--fw-medium);
						letter-spacing: 1px;
						border: none;
						border-radius: 10px 10px 0 0;
					}
				}
			}
		}
	}

	&__map {
		flex: 1 1 100%;
		padding: var(--contacts-padding);
		border-radius: 0.5rem;
		background-color: var(--clr-contacts-block-bg);
		& > h2 {
			margin-bottom: var(--contacts-gap);
		}
	}
}
