@import '../abstracts/breakpoints';

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;

	margin: 10rem 0 10rem var(--sidebar-width);

	@include lg {
		margin: 10rem 0 10rem 0;
	}

	&__hero {
		width: 40%;
		text-align: justify;

		@include lg {
			width: 70%;
		}

		& > p {
			margin-top: 1rem;
		}

		& > h1 {
			@include md {
				font-size: 2.5rem;
			}
		}
	}

	& > button {
		width: 15rem;
		height: 3rem;

		outline: none;
		border-radius: 3rem;

		text-transform: uppercase;
		font-weight: var(--fw-medium);
		color: var(--clr-home-hero-button-text);
		border: 3px solid var(--clr-home-hero-button-border);
		background: none;

		cursor: pointer;

		@include xs {
			width: 10rem;
		}

		&:hover,
		&:focus {
			background-color: var(--clr-home-hero-button-bg-hover);
		}
	}
}
