.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;

	margin: 10rem 0 10rem var(--sidebar-width);

	&__hero {
		width: 40%;
		text-align: justify;

		& > p {
			margin-top: 1rem;
		}
	}

	& > button {
		width: 15rem;
		height: 3rem;

		outline: none;
		border-radius: 3rem;

		text-transform: uppercase;
		font-weight: var(--fw-medium);
		color: var(--clr-home-hero-button-text);
		background: none;

		cursor: pointer;

		&:hover,
		&:focus {
			background-color: var(--clr-home-hero-button-bg-hover);
		}
	}
}
