@import '../abstracts/breakpoints';

.locations {
	width: 100%;
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 10rem 0 10rem var(--sidebar-width);

	@include lg {
		margin: 10rem 0 10rem 0;
	}

	&__header {
		width: 40%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include lg {
			width: 90%;
		}

		& > p {
			margin-top: 1rem;
		}

		& > h1 {
			@include md {
				font-size: 2.5rem;
			}
		}
	}

	&__tabs {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 1rem;
		gap: 1rem;

		& > button {
			width: var(--locations-tab-width);
			height: var(--locations-tab-height);

			border-radius: 0.3rem;
			border: none;
			outline: none;

			text-transform: uppercase;
			font-size: var(--fs-button);

			background-color: var(--clr-news-container-tab-bg);
			color: var(--clr-news-container-tab-text);

			box-shadow: var(--news-container-tab-boxshadow);
			transition: all ease 0.1s;

			cursor: pointer;

			&:hover {
				background-color: var(--clr-news-container-tab-bg-active);
			}

			&:active {
				box-shadow: var(--news-container-tab-boxshadow-pressed);
				transform: translateY(5px);
			}
		}
		& .active {
			background-color: var(--clr-news-container-tab-bg-active);
		}
	}

	&__content {
		width: 70%;
		margin-top: 5rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 3rem;

		background-color: var(--clr-locations-container-bg);

		@include lg {
			width: 90%;
		}

		& > ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;

			& > li {
				width: 100%;
			}
		}
	}
}
