.tariffs {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 10rem 0 10rem var(--sidebar-width);

	&__header {
		width: 40%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		& > p {
			margin-top: 1rem;
		}
	}

	&__content {
		width: 80%;
		margin-top: 5rem;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		gap: 2rem;

		& > ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			& > li {
				width: 100%;
			}
		}
	}
}
